<header>
    <div class="header__container">
        <a href="{% url 'main' %}" class="logo">StudyBud</a>
        <form method="get" action="{% url 'main' %}" >
            <input type="text" name="q" placeholder="Search Rooms..." class="search">
        </form>
        <nav class="nav">
            <ul class="nav__links">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'profile' request.user.id%}">@{{user.username}}</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="">Register</a>
                    </li>
                {% endif %}
                
            </ul>
        </nav>
        <span class="material-symbols-outlined menu-btn">
            menu
        </span>
    </div>
</header>



