{% extends 'core/base.html' %}
{% load static %}
{% block content %}
   
    <section class="profile">
        <div class="sidebar">
            {% include 'core/topics.html' %}
        </div>
        <div class="main-content">
            <div class="profile__info">
                <img src="{{request.user.avatar.url}}" alt="" class="profile__photo" width="50" height="50">
                <p>@{{user.username}}</p>
                {% if request.user == user %}
                    <a href="{% url 'update-user' %}">Edit Profile</a>
                {% endif %}
            </div>
            <div class="profile__about">
                <h3>About</h3>
                <p>
                    {{request.user.bio}}
                </p>
            </div>
            <h3 class="profile__header">Rooms hosted by {{user.username}}</h3>
            {% include 'core/room_post.html' %}
        </div>
        <div class="aside">
            {% include 'core/feed.html' %}
        </div>
    </section>
{% endblock content%}