{% extends 'core/base.html' %}
{% block content %}
    <section class="container__user">
        <div class="edit__user">
            <h3>Edit Your Profile</h3>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <label for="">{{field.label}}</label>
                    <p class="input">{{field}}</p>
                {% endfor %}
                <div class="form__btn">
                    <a href="{% url 'main' %}">Cancel</a>
                    <input class="sub-btn" type="submit" value="Update">
                </div>
            </form>
        </div>
    </section>
{% endblock content%}